Hi <%= first_name %> <%= last_name %>
you are <%= age %> years old
<form action="/favoritecolor" method="post">
  What's your favorite color?: <input type="text" name="favcol">
  <input type="hidden" name="age" value=<%= age %>>
  <input type="hidden" name="fname" value=<%= first_name %>>
  <input type="hidden" name="lname" value=<%= last_name %>>
  <input type="submit" value="submit">
</form>
